* {
    box-sizing: border-box;
}
.body {
    background-color:hsl(148, 38%, 91%);
}
.form {
    width: 530px;
    background-color: hsl(0, 0%, 100%);
    margin:120px auto;
    padding-left: 35px; 
    border-radius: 10px; 
    font-family:"karla";
    font-weight: 400px;
    color:hsl(187, 24%, 22%) ;
        
    
}
.input-radio {
    
    padding-left: 5px;
}
.contact-us {
    margin-bottom: 20px;
    padding-top: 20px;
}
.fname-input,.lname-input,.email,.input-radio {
    width: 225px;
    height: 38px;
    border-radius: 5px;
    border: .5px solid hsl(186, 15%, 59%);
    margin-right: 10px; 
    padding-left: 20px;
    margin-bottom: 10px;   
}
input:hover {
    border:.5px solid hsl(148, 27%, 55%);
}
.email {
    width: 460px;
}
 .input-radio input {
    margin-top: 10px;
    margin-right: 7px;
 }
 tr label {
    margin-bottom: 5px;
    margin-top:15px;
 }
 .message {
    width: 460px;
    border-radius: 5px;
    border: .5px solid hsl(186, 15%, 59%);
    margin-bottom: 15px;
    padding: 10px 20px;
 }
 [type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 20px;
 }
 button {
    height: 40px;
    border-radius: 5px;
    border: .5px solid hsl(186, 15%, 59%);
    display: block;
    width: 460px;
    background-color: hsl(169, 82%, 27%);
    color: hsl(0, 0%, 100%);       
 }
 .space {
    margin-top: 25px;
 }
 .color {
    background-color: hsl(148, 38%, 91%);
    border: 1px solid hsl(148, 27%, 55%);
 }
 .colorborder{
    border: 1px solid hsl(0, 66%, 54%); 
 }
 .validate {
    margin-bottom: 1px;
    margin-top: 3px;
 }
 .submittingMsg {
   width: 435px;
   background-color: black;
   color: white;
   position: absolute;
   left: 460px;
   top:20px;
   padding:20px;
   border-radius: 20px;
   font-family:"karla";
   display: none;
 }

 .submittingMsg  span {
   margin-left: 10px;
 }
 .p2 {
   margin-top: -10px;
 }
 tr {
   margin-left: auto;
 }